@import "../base/variables";
@import "../base/mixins";

.Index
{

    #home-banner
    {
        background: radial-gradient(400px 300px, adjust-hue($dglOrange, 30deg) 10px, $dglOrange 600px);
        height: 400px;
        border-bottom: 1px solid rgba(255,255,255,.3);
        overflow: hidden;

        .carousel
        {
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,.5);
            border: 6px solid rgba(255,255,255,.25);
            margin-top: 30px;

            .item
            {
                height: 325px;
                background-color: black;
            }

            .carousel-control // Arrows for carousel
            {
                &.left
                {

                    >span
                    { 
                        display: inline-block;
                        position: absolute;
                        top: 125px;
                        left: 0px;
                    }
                }

                &.right
                {

                    >span
                    { 
                        display: inline-block;
                        position: absolute;
                        top: 125px;
                        right: 0px;
                    }
                }
            }
        }
    }
    
    #home-results
    {
        text-align: center;
        margin: 0px;
        padding: 0px;
        background: darken($background-color,4);
        border-bottom: 1px solid rgba(134, 134, 134, 0.25);
        
        .match-result
        {
            height: 120px;
            border-right: 1px solid rgba(134, 134, 134, 0.1);
            padding: 20px;
            margin: 0px;
            font-family: $title-font;

            header
            {
                font-weight: 700;
            }

            &:hover
            {
                background: rgba(0,0,0,.1);
            }
        }
    }
    
    #news
    {
        padding: 30px;
        color: white;
        font-family: $title-font;
        font-size: 1.5rem;
        text-align: justify;
        
        h4
        {
            color: $dglOrange !important;
            font-weight: 700;
            font-family: $title-font !important;
        }
    }
    
    #home-updates
    {
        background: $background-color;
    }
}