@import "../base/variables";
@import "../base/mixins";

/* Navbar */
nav
{
	box-shadow: 0px 1px 6px black;
	height: $header-height;
	border-bottom: 1px solid lighten($dglDark, 10);
    background-color: rgb(30,30,30) !important;
    
    /* DGL Logo */
    #logo
    {
        position: absolute;
        left: 50%;
        margin-left: -1* $logo-width/2 !important;  
        display: block;
        width: $logo-width;
        cursor: pointer;
    }
	
	>.container
	{
		padding: 0px;
	}
	
    /* Menu items */
	.navbar-nav > li 
	{
        @include transition;
		text-transform: uppercase;
		font-size: 1.5rem;
        border-right: 1px solid rgba(255,255,255,.05);
		
        &:hover
        {
            @include transition;
            background-color: $dglOrange;
            color: black;
        }
        
		>a 
		{ 
			line-height: $header-height - 1px;
			height: $header-height - 1px;
			padding-top: 0;
            border: none !important;
            color: white !important;
            font-family: $title-font;
		}
	}
    
    /* Search bar */
    .input-group
    {        
        /* Text field */
        input
        {
            color: white !important;
            background-color: rgba(0,0,0,.5) !important;
        }
        /* Search button */
        .input-group-addon
        {
            background-color: transparent !important;
            border: none;
            color: white !important;
        }
    }

    #right-nav > li
    {
        border: none;
    }
}