@import "../base/variables";
@import "../base/mixins";

/* Navbar */
#navigation
{
	box-shadow: 0px 0px 5px 1px black;
	height: $header-height;
	border-bottom: 1px solid rgba(0,0,0,.1) !important;
    background-color: rgb(40,40,40) !important;
    padding: 0px;
    
    /* DGL Logo */
    #logo
    {
        position: absolute;
        left: 50%;
        margin-left: -1* $logo-width/2 !important;  
        display: block;
        width: $logo-width;
        cursor: pointer;
    }
	
	>.container
	{
		padding: 0px;
	}
	
    /* Menu items */
	.navbar-nav > li 
	{
        @include transition;
		text-transform: uppercase;
		font-size: 1.5rem;
    
        &.divide // Divider gradient
        {
            border-width: 0px;
            border-right-width: 1px;
            border-style: solid;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, 0))) 1 100%;
            -webkit-border-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .15), rgba(255, 255, 255, 0)) 1 100%;
            -moz-border-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0)) 1 100%;    
            -o-border-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0)) 1 100%;
            border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0)) 1 100%;
        }
        
        &:hover
        {
            @include transition;
            background-color: $dglOrange;
            color: black;
        }
        
		>a 
		{ 
			line-height: $header-height - 1px;
			height: $header-height - 1px;
			padding-top: 0;
            border: none !important;
            color: white !important;
            font-family: $title-font;
            font-weight: 300;
            font-size: 2rem;
		}
	}
    
    /* Search bar */
    .input-group
    {        
        /* Text field */
        input
        {
            color: white !important;
            background-color: rgba(0,0,0,.5) !important;
        }
        /* Search button */
        .input-group-addon
        {
            background-color: transparent !important;
            border: none;
            color: $dglOrange !important;
        }
    }
    
    #right-nav > li
    {
        >a span
        {
            vertical-align: middle;
            color: $dglOrange !important;
            font-size: 1.5rem;
        }
        &:hover
        {
            >a span
            {
                color: white !important;
            }
        }
    }
}

#breadcrumbs
{
    width: 100%;
    background-color: rgb(235,135,19) !important;
    height: 20px;
    
    > span
    {
        color: black;
        font-family: $title-font;
        font-size: 1.5rem;
        padding: 20px; 
    }
}
