@import "../base/variables";
@import "../base/mixins";

    
/* Navbar */
#navigation
{
	min-height: $header-height;
	border-bottom: 1px solid $brand-primary;
    box-shadow: 0px 1px 4px black;
    background-color: $bg-dark !important;
    padding: 0px;
    font-family: $title-font;
    
    #logo
    {
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -1 * $logo-width / 2;
        width: $logo-width;
        height: auto;
        cursor: pointer;
    }
    
    #logo-small
    {
        height: $header-height;
    }
    
    #discord
    {
        width: 18px;
    }
    
	>.container
	{
		padding: 0px;
	}
	
    /* Menu items */
	.navbar-nav > li 
	{
        @include transition;
		text-transform: uppercase; 
        
        &:hover
        {
            @include transition;
            background-color: $brand-primary;
            color: black;
        }
        
		>a 
		{ 
			line-height: $header-height - 1px;
			height: $header-height - 1px;
			padding-top: 0;
            border: none !important;
            color: white !important;
            font-weight: 300;
            font-size: 2rem;
		}
	}
    
	
    /* Dropdown */
    .dropdown-menu
    {
        font-size: 1.5rem;
        border: 1px solid $text-inverse;
        margin-top: 1px;
    }
        
    #media-nav > li
    {
        >a span
        {
            vertical-align: middle;
            color: $brand-primary !important;
        }
        &:hover
        {
            >a span
            {
                color: white !important;
            }
        }
    }
}