@import "../base/variables";
@import "../base/mixins";


#sidebar
{
    position: fixed;
    display: flex;
    width: inherit;
    background: $bg-darker;
    top: 0px;
    left: 0px;
    min-height: 100%;
    border-right: 8px solid $bg-dark;
    box-shadow: 1px 0px 0px 0px rgba($brand-accent,.2);
    margin-top: $header-height;
        
    section
    {
        width: 100%;
        text-align: center;
        
        h4 
        {
            color: $text-primary !important;
        }
    }
    
    #sidebar-public
    {
        width: 100vw;
        position: relative;
        overflow: hidden;
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        
        #sidebar-breadcrumbs
        {
            flex: 1;
        }
                
        #sidebar-user-avatar 
        {
            flex: none;
            padding: 20px;
            overflow: hidden;
            
            .fa
            {
                color: $bg-dark;
                font-size: 10rem; 
            }
        }
    }
    
    #sidebar-private
    {
        width: 100vw;
        position: relative;
        overflow: hidden;
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        
        #sidebar-breadcrumbs
        {
            flex: 1;
        }
        
        #sidebar-team-avatar 
        {
            flex: none;
            min-height: 75px;
            overflow: hidden;
            padding: 20px;
            
            .fa
            {
                font-size: 10rem;  
                color: $bg-dark !important;
            }
        }
        
        #sidebar-user-avatar 
        {
            flex: none;
            padding: 20px;
            overflow: hidden;
            
            .fa
            {
                color: $brand-accent;
                font-size: 10rem; 
                
                &:hover
                {
                    color: $brand-primary;
                    text-decoration: none;
                }
            }
        }
        
        #sidebar-logout
        {
            flex: none;
            height: 50px;
            background-color: $bg-darker;
            margin: 0px;
            padding-top: 10px;
            text-transform: uppercase;
            
            h6
            {
                display: inline;
                cursor: pointer;
                margin: 0px 10px 0px 10px;
                color: $text-primary;
                
                a
                {
                    color: $text-primary;
                    
                    &:hover
                    {
                        color: $brand-primary;
                        text-decoration: none;
                    }
                }
                    
                &:hover
                {
                    color: $brand-primary;
                    text-decoration: none;
                }
            }
        }
    }
}