@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Footer";
@import "module/Signup";
@import "module/Navbar";

@import "pages/index";

body
{
    background-color: rgb(0,0,0);
    background-image: url('images/brilliant.png'); 
}

.document-body
{
    padding: 0px;
    margin-top: $header-height;
}