@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

// ---------------------------------------------------- SASS Colours

$dglWhite                             : rgb(255, 255, 255);
$dglLight                             : rgb(230, 230, 230);
$dglDark                              : rgb(34,34,34);
$dglOrange                            : rgb(242, 98, 34);
$dglBlue                              : rgb(53, 176, 234);
$dglRed                               : rgb(204, 51, 51);

$danger-color                         : rgb(204, 0, 0); // Danger colour
$warning-color                        : rgb(255, 136, 0); // Warning colour
$primary-color                        : rgb(42, 159, 214); // Primary colour
$info-color                           : rgb(153, 51, 204); // Info colour
$success-color                        : rgb(119, 179, 0); // Success colour


// ---------------------------------------------------- SASS Variables

$background-color                     : rgb(33, 30, 29);
$text-color                           : rgb(216, 212, 207);

$content-font                         : Helvetica, Arial, sans-serif;
$title-font                           : 'Open Sans Condensed', sans-serif;
$footer-height                        : 130px;
$header-height                        : 85px;
$logo-width                           : 115px;


