@import "../base/variables";
@import "../base/mixins";

.Index
{
    #banner
    {
        max-height: 400px;
        overflow: hidden;
    }
    
    .match-result
    {
        margin-top: 25px;
        font-family: $title-font;
        
        .match-result-team
        {
            padding: 0px;
        }
        
        .match-result-team-name
        {
            background-color: $text-inverse;
            padding: 15px;
            text-align: center;
            color: $brand-primary;
            
            &:hover
            {
                background-color: $brand-primary;
                color: $text-inverse;
            }
        }
        
        .match-result-vs
        {
            padding: 15px;
            text-align: center;
        }
    }
        
    .match-result-date
    {
        padding-right: 10px;
        border-top: 1px solid rgba(100,100,100,.1);
        font-family: $title-font;
        text-align: right;
    }
}