@import "../base/variables";
@import "../base/mixins";

    
.teams-info
{
    text-align: right;

    p
    {
        color: $text-primary;
        margin-bottom: 25px;
    }
}

.teams-create
{
    h1
    {
        color: $brand-accent;
        margin-bottom: 40px;
    } 
    
    h4
    {
        color: $brand-primary;
    }
}

.teams
{
    h2
    {
        color: $brand-primary;
        font-family: $title-font;
        margin-bottom: 50px;
    }
    
    table
    {
        background: transparent !important;  
        
        th 
        {
            color: $brand-primary;
        }
        td
        {
            vertical-align: middle !important;
            
            &.team-link
            {
                cursor: pointer;
                
                &:hover
                {
                    color: $brand-primary;
                }
            }
            
            &.team-info-buttons
            {
                text-align: right;
                
                .btn
                {
                    color: $text-inverse;
                    font-weight: 700;
                    margin-left: 10px;
                }
            }
        }
    }
}

.teams-view
{
    #teams-view-emblem
    {
        text-align: center;
        
        .fa
        {
            color: $text-disabled;
            font-size: 20rem; 
        }
    }
    
    h2
    {
        color: $brand-primary;
        font-family: $title-font;
        margin-bottom: 50px;
        
        small
        {
            color: $text-primary;
        }
    }
}